@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .footer {
    padding: 10px;
  }

  .card {
    margin-bottom: 20px;
  }
}

body {
  background-color: #f8f9fa; /* Un gris claro de fondo */
}

h1, h2, h3 {
  color: #343a40; /* Cambiar el color de los títulos */
}

/* Consolidación de las reglas de navbar */
.navbar {
  
  background-color: #060606 !important; /* Color azul para la barra de navegación */
  color: white !important;
}

.navbar-brand, .nav-link {
  color: white !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #28a745 !important; /* Hover en los links del header */
}

.btn-primary {
  background-color: #28a745; /* Color verde para los botones primarios */
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.card {
  border: 1px solid #dee2e6;
  border-radius: 0.75rem;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-height: 300px;
  object-fit: cover; /* Ajusta la imagen para que no se distorsione */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #343a40;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.container {
  /* margin-top: 20px; */
  margin-bottom: 0px;
  padding-top: 2rem;
  /* padding-bottom: 2rem; */

}

.container h1 {
  margin-bottom: 3rem; /* Ajusta el valor para el espacio deseado */
  text-align: center; /* Centrado del título */
  color: #28a745; /* Color verde */
}

h2, h4, h5 {
  color: #343a40;
}

button.btn-primary {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;  
  background-color: #28a745;
  border: none;
  border-top: 40px;
  border-bottom: 40px;  
}

button.btn-primary:hover {
  background-color: #218838;
}

button {
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #218838; /* Cambiar color al pasar sobre el botón */
}

.navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar-nav .ml-auto .nav-link {
  font-weight: bold;
}
