.footer {
  background-color: #343a40;
  color: white;
  padding: 30px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none; /* Elimina el subrayado */
}

.footer-link:hover {
  color: #28a745; /* Cambia el color al pasar el ratón */
  text-decoration: none;
}

.footer h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer p, .footer ul {
  font-size: 0.9rem;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer .payment-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* margin: 10px 0; */
}

.footer .payment-logo {
  max-height: 40px;
}