/* Espaciado para el título */
.section-title {
    margin-top: 2rem;  /* Espacio arriba */
    margin-bottom: 2rem;  /* Espacio abajo */
    font-weight: bold;
    color: #28a745;
  }
  
  /* Margen y espaciado adicional para las tarjetas de productos */
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .card {
    padding: 1rem;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  